<!-- If a user ends up on this page that's because the social login failed, because
otherwise they would automatically get logged in. For this reason,
I updated this page to navigate the user to other signup/login options. -->

{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<main>
  <div class="account-background">
    <div class="account-details-frame">
      <h1 class="account-details-title">Unsuccessful</h1>

      <p>We were unable to sign you in with your social account this time. Apologies for the inconvenience!</p>
      <br>
      <br>

    </div>
  </div>
</main>
{% endblock %}
