{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<main>
    <div class="account-background">
        <div class="account-details-frame">
            <h1 class="account-details-title">{% trans "Confirm E-mail Address" %}</h1>

            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button type="submit" class="primary-btn">{% trans 'Confirm' %}</button>
            </form>

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}
