{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<main>
  <div class="account-background">
    <div class="account-details-frame">
        <h1 class="account-details-title">Sign In</h1>
        
        <p>Sign in with your Google account or with your email and password.</p>
          
        <a href="{% provider_login_url 'google' %}">
          <img src="{% static 'svg/google-logo.svg' %}" class="google-logo" alt="google-logo">
        </a>
        <form class="account-form-frame" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
          {% endif %}
          <div>
            <a class="account-link" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
          </div>
          
          <button class="primary-btn account-btn" type="submit">{% trans "Sign In" %}</button>
          
          <p>{% blocktrans %}Don't have an account yet? Please
            <a class="account-link" href="{{ signup_url }}">Register</a> first.{% endblocktrans %}
          </p>
        </form>
      </div>
  </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

