{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<main>
    <div class="account-background">
        <div class="account-details-frame">
            <h1 class="account-details-title">{% trans "Password Reset" %}</h1> 

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}"  class="account-form-frame">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="primary-btn account-btn" type="submit" value="{% trans 'Reset My Password' %}" >
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
</main>

{% endblock %}


