{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<main>
    <div class="account-background">
        <div class="account-details-frame">
            <h1 class="account-details-title">{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="account-form-frame" >
                {% csrf_token %}
                {{ form.as_p }}
                <input  class="primary-btn account-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</main>
{% endblock %}
