{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<main>
    <div class="account-background">
        <div class="account-details-frame">
            <h1 class="account-details-title">Change Password</h1>

            <form class="account-form-frame" method="POST" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="primary-btn account-btn" type="submit" name="action">{% trans "Change Password" %}</button>
                <a href="{% url 'profile' %}" class="secondary-btn back-to-profile-btn" type="button" name="action">{% trans "Back to Profile" %}</a>
                <div><a class="account-link" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a></div>
            </form>
        </div>
    </div>
</main>
{% endblock %}


