{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="colored-overlay {% if user.is_staff %}staff{% endif %}"></div>
    {% if user.is_staff %}
    <img class="logo" src={% static 'svg/book-cycle-logo-accent.svg' %} alt="book cycle logo" width="10" height="6">
    {% else %}
    <img class="logo" src={% static 'svg/book-cycle-logo.svg' %} alt="book cycle logo" width="10" height="6">
    {% endif %}
    {% if user.is_staff %}
    <div class="staff-buttons-box">
        <a class="staff-button" href="{% url 'orders_post' %}">Orders to Post
            {% if orders_to_post_count > 0 %}
            <span class="orders-count">{{ orders_to_post_count }}</span>
            {% endif %}
        </a>
        <a class="staff-button" href="{% url 'orders_pickup' %}">Orders for Collection
            {% if orders_to_collect_count > 0 %}
            <span class="orders-count">{{ orders_to_collect_count }}</span>
            {% endif %}
        </a>
        <a class="staff-button" href="{% url 'orders_completed' %}">Completed Orders</a>
    </div>
    {% else %}
    <a class="main-button" href="{% url 'books' %}">shop</a>
    {% endif %}
</main>
{% endblock %}