{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="checkout-background">
        <h1 class="title">Your Account</h1>
        <div class="checkout-page-frame">
            <div class="checkout-details-frame">
                <h2 class="checkout-details-title">Your Order History</h2>
                {{ profile }}
            </div>

        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

