{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="account-background">
        <h1 class="title">Your Account</h1>
        <div class="account-page-frame">
            <div class="account-form-frame">
                <h2 class="account-details-title">Personal Information</h2>
                <div class="account-details-box">
                <p>Name: {{ full_name }}</p>
                <p>Email: {{ user.email }}</p>
                <p><a href="{% url 'account_change_password' %}" class="account-button">
                    Change password
                </a></p>
                </div>
                {% if not user.is_staff %}
                    <h2 class="account-details-title">Default Delivery Information</h2>
                    <form action="{% url 'profile'%}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button id="submit-button" type="submit" class="account-button">
                            Save Delivery Info
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="account-form-frame">
                {% if not user.is_staff %}
                    <h2 class="account-details-title">Your Order History</h2>
                    {% if orders|length > 0 %}
                    <div class="order-history-details-box">
                        <div class="order-number"><strong>Order Number</strong></div>
                        <div><strong>Date</strong></div>
                        <div><strong>Shipping required</strong></div>
                        <div class="total-paid"><strong>Total Paid</strong></div>
                        {% for order in orders %}
                        <div class="order-number">
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}"> 
                                {{ order.order_number|truncatechars:8 }}</a>
                        </div>
                        <div class="">
                            {{ order.date|date:"d M, Y" }}
                        </div>
                        <div class="">
                            {% if order.shipping_required %}&check;{% else %}&cross; {% endif %}
                        </div>
                        <div class="total-paid">
                            <strong>£{{ order.grand_total }}</strong>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="no-purchase">You haven't made a purchase with us yet.</div>
                    {% endif %}
                {% endif %}
                <div class="mobile">
                <h2 class="account-details-title">Sign Out</h1>
                <p>{% trans 'If you share your device with other people, it is advised to always sign out after you finished working.' %}</p>
                
                <form class="account-form-frame" method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="account-button" type="submit">{% trans 'Sign Out' %}</button>
                </form>
                </div>
            </div>  
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

