{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/orders.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="account-background">
        <h1 class="title">{{ title }}</h1>
        <div class="account-page-frame">
            {% if orders|length > 0 %}
            <div class="orders-box">
                <div class="order-number"><strong>Order Number</strong></div>
                <div class="order-name"><strong>Name</strong></div>
                <div><strong>Date</strong></div>
                <div class="total-paid"><strong>Total Paid</strong></div>
                {% for order in orders %}
                <div class="">
                    <a href="{% url 'order_history' order.order_number %}">
                        {{ order.date|date:"d M, Y" }}</a>
                </div>
                    <div class="order-number">
                        <a href="{% url 'order_history' order.order_number %}">
                            {{ order.order_number|truncatechars:8 }}</a>
                    </div>
                    <div class="order-name">
                        <a href="{% url 'order_history' order.order_number %}">
                            {{ order.full_name|truncatechars:20 }}</a>
                    </div>
                    <div class="total-paid">
                        <strong>£{{ order.grand_total }}</strong>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div class="no-orders">No orders to display.</div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}