/* ------------------------------ Account page custom styles -----------  */

/* Main structure and title  */

.account-background {
    background-color: var(--bg-detail);
    padding: 2rem;
    margin: 7.5rem 1rem 2rem;
    min-height: 65vh;
}

.account-page-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-details-frame {
    margin: auto;
}

.account-background .title {
    border-bottom: none;
}

.account-details-title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    border-top: 1px solid var(--bg-secondary);
    border-bottom: 1px solid var(--bg-secondary);
    padding: 1rem 0.4rem;
}

.account-details-box {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: center;
    margin-left: 0.4rem;
}


/* Form styles  */

.account-form-frame {
    flex-grow: 1;
    width: 100%;
    max-width: 26.5rem;
}

.account-form-frame label:not([for='id_remember']) {
    display: none;
}

.account-form-frame .textinput,
.account-form-frame .emailinput,
.account-form-frame .lazyselect {
    width: 100%;
    border: 1px solid var(--input-border);
    font-family: 'Montserrat';
    background: var(--bg-detail);
    padding: 0.4rem;
    font-size: .9rem;
    margin-top: 1.5rem;
    font-weight: 300;
}

.account-details-frame a {
    color: var(--text-primary);
}

.account-button {
    border: 1px solid var(--bg-secondary);
    padding: 0.5rem 2rem;
    color: var(--text-light);
    background-color: var(--bg-secondary);
    text-transform: uppercase;
    margin: 1.5rem 0 3rem;
    cursor: pointer;
    font-size: .9rem;
    display: inline-block;
}

a.back-to-profile {
    border: 1px solid var(--bg-secondary);
    padding: 0.5rem 2rem;
    background: var(--bg-detail);
    color: var(--text-secondary);
    text-transform: uppercase;
    margin: 1.5rem 0;
    cursor: pointer;
    font-size: .9rem;
    display: inline-block;
    margin-left: 2rem;
}


/* Order history styles  */

.order-history-details-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 0.2rem;
}

.order-number {
    text-align: left;
}

.total-paid {
    text-align: right;
}

.no-purchase {
    margin: 3rem 0;
    padding: 0 .4rem;
}

/* Media queries */

@media screen and (min-width: 416px) {
    .account-background {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media screen and (min-width: 500px) {
    .account-details-frame {
        max-width: 26.4rem;
    }
}

@media screen and (min-width: 1000px) {
    .account-page-frame {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .account-background .title {
        border-bottom: 1px solid var(--input-border);
    }
}

@media screen and (min-width: 1442px) {
    .account-background {
        margin-left: calc(50% - 721px + 2rem);
        margin-right: calc(50% - 721px + 2rem);
    }
}
