/* -------------------------------------- RESET --------------- */

html, body, header, footer, section, article, h1, h2, h3, p, a, button, 
ul, address, svg, input, textarea {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
}

/* General colours */

:root {
    --primary: #160f69;
    --bg-primary: #160f69;
    --bg-secondary: #89009b;
    --bg-toast: #f6f8ff;
    --bg-radial-gradient: radial-gradient(at 50% 50%, #89009bee, #3c4b82ee);
    --book-overlay: linear-gradient(to top, #ffffff00, #170f6996);
    --bg-side-menu: linear-gradient(to bottom, #fcfafa, #563c82);
    --bg-staff: radial-gradient(at 50% 50%, #00889c, #1a126bc4);
    --book-overlay-staff: linear-gradient(to top, #006c7200, #0f2d69dd);
    --bg-side-menu-staff: linear-gradient(to bottom, #fcfafa, #012f53);
    --bg-gallery: #e8e8e8ed;
    --bg-detail: #f6f8ff;
    --bg-overlay: #5f5d7dd9;
    --bg-translucent: #ffffff99;
    --bg-modal-body: #f6f8ff;
    --accent: #1ed446;
    --text-primary: #160f69;
    --text-secondary: #7a008a;
    --text-secondary-light: #c259d0;
    --text-accent: #00821b;
    --text-light: white;
    --text-contrast: white;
    --text-error: #c70000;
    --text-placeholder: #aab7c4;
    --input-border: rgb(118, 118, 118);
    --books-found-color: #89009b;
    --shadow-color: #160f69;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-secondary: #d573e2;
    --bg-gallery: #252635a6;
    --bg-detail: #1e1f28b0;
    --bg-translucent: #0c122f99;
    --bg-primary: white;
    --bg-toast: #282e41f5;
    --bg-modal-body: #2d2f44fa;
    --text-primary: white;
    --text-contrast: rgb(20, 22, 34);
    --text-accent: #8efea5;
    --text-error: #ff6060;
    --text-secondary: #d573e2;
    --bg-radial-gradient: radial-gradient(at 50% 50%, #93c1cf, #270044f2);
    --bg-staff: radial-gradient(at 50% 50%, #60cefc, #0b0737f2);
    --bg-side-menu: linear-gradient(to bottom, #0d0d18, #846daa);
    --bg-side-menu-staff: linear-gradient(to bottom, #11112c, #4d7095fe);
    --book-overlay-staff: linear-gradient(to top, #0042724d, #0b0737dd);
    --books-found-color: #d573e2;
    --shadow-color: rgba(128, 128, 128, 0.689);
  }

  body, 
  select {
    color: white;
    background: var(--bg-gallery);
  }
}

/* Main elements settings  */

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: var(--bg-radial-gradient);
    background-size: 100vw 100vh;
    font-family: 'KoHo', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    justify-content: space-between;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    background-color: var(--bg-primary);
}

main {
    width: 100%;
}

h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: var(--text-primary);
}


input[type=checkbox],
input[type="radio"] {
  accent-color: var(--bg-secondary);
}

label {
    display: inline-block;
    margin-bottom: 0.3rem;
    font-family: 'KoHo';
}

/* --------------------------------- General Buttons --------------------- */

.primary-btn {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 1rem;
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
    color: var(--text-contrast);
    font-size: .9rem;
    margin: .5rem 0;
    min-width: 7rem;
    cursor: pointer;
    transition: background-color 0.6s;
}

.primary-btn:hover:not(.primary-btn[disabled]),
.primary-btn:focus:not(.primary-btn[disabled]) {
    background-color: transparent;
    color: var(--text-secondary);
}

.secondary-btn {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 1rem;
    border: 1px solid var(--bg-secondary);
    color: var(--bg-secondary);
    font-size: .9rem;
    margin: .5rem 0;
    min-width: 7rem;
    cursor: pointer;
    transition: background-color 0.6s;
}

.secondary-btn:hover,
.secondary-btn:focus {
    background-color: var(--bg-secondary);
    color: var(--text-contrast);
}

.accent-btn {
    font-weight: bold;
    color: var(--text-light);
    text-shadow: 0 1px 2px var(--primary);
    background-color: var(--accent);
    display: inline;
    padding: 1rem 3rem 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: background-color 0.6s;
}

.accent-btn:hover,
.accent-btn:focus {
    background-color: var(--bg-overlay);
}


/* --------------------------------------- HEADER and FOOTER-------------- */

.mobile {
    display: inline-block;
    cursor: pointer;
}

.desktop {
    display: none;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3.5rem 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
    max-width: 1442px;
    font-size: 1.1rem;
    background: var(--bg-radial-gradient);
    background-size: 100vw 100vh;
    z-index: 1;
}

.logo {
    width: 90%;
}

.small-logo {
    width: 6rem;
    position: fixed;
    left: calc(50% - 3rem);
    top: 1.7rem;
    z-index: 2;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: var(--text-light);
    padding: 1rem 1.5rem;
    text-align: center;
    line-height: 2rem;
}

.header-left {
    display: inline-block;
    color: var(--text-light);
    align-items: center;
}

.burger-icon {
    position: relative;
    top: 0.3rem;
}

.header-right {
    display: flex;
    color: var(--text-light);
    align-items: center;
    column-gap: 1rem;
    
}

.header-right a,
.header-right span {
    transition: color 0.6s;
    transition: background-color 0.6s;
}

.header-right a:hover,
.header-right a:focus,
.header-right span:hover,
.header-right span:focus {
    color: var(--accent);
}

img.user {
    width: 30px;
    height: 34px;
    position: relative;
    top: 2px
}

.bag-link {
    cursor: pointer;
    position: relative;
}

img.bag {
    width: 31px;
    height: 39px;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
}

.book-nr {
    display: inline-block;
    position: absolute;
    top: 0.9rem;
    left: 0.3rem;
    font-size: .7rem;
    background-color: var(--accent);
    padding: 0.15rem 0;
    border-radius: 0.7rem;
    border: 1px solid #3d2b5c;
    color: var(--text-light);
    text-shadow: 0 1px 5px black;
    font-weight: bold;
    font-family: system-ui;
    text-align: center;
    text-align: center;
    width: 1.3rem;
    margin: auto;
}

.book-nr:hover,
.book-nr:focus {
    background-color: var(--bg-overlay);
}

.user-name {
    font-size: .8rem;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

.user-title {
    color: var(--text-secondary-light);
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    .logo {
        width: 100%;
    }
    .user-name {
        font-size: .9rem;
    }
}

@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: inline-block;
    }

    img.bag {
        position: relative;
    }

    .header-right {
        column-gap: 1rem;
    }
}


@media screen and (min-width: 1442px) {
    header {
        left: calc(50% - 721px);
        right: calc(50% - 721px);
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .book-nr {
        left: 0.33rem;
    }
    .user-name,
    .user-title {
        right: 2rem;
    }
}

.browse {
    position: fixed;
    top: 0;
    left: -19rem; /* Hidden off-screen initially */
    width: 15rem;
    height: 90%;
    max-height:700px;
    background-color: #ffffff;
    background: var(--bg-side-menu);
    transition: left 0.4s ease;
    color: var(--text-primary);
    padding: 1rem;
    z-index: 3;
}

.search-icon {
    position: relative;
    top: 0.3rem;
    right: -0.3rem;
    stroke: var(--bg-primary);
    transition: stroke 0.6s;
}

.search-icon:hover,
.search-icon:focus {
    stroke: var(--accent);
}

.browse img.open-book {
    position: absolute;
    bottom: 1rem;
    margin: auto;
    padding: 1rem 4rem;
}

/* When the browse menu is open */
.browse.browse-open {
    left: 0; /* Slide the menu in */
}

.menu-filter {
    display: none;
    position: absolute;
    left: 13rem;
    top: 10rem;
    background-color: #dbdbdb;
    padding: 1rem;

}

.menu-filter-active {
    display: block
}

.menu-filter-term {
    font-size: 1rem;
    line-height: 1.6rem;
}

@media screen and (min-width: 1442px) {
    .browse.browse-open {
        left: calc(50% - 721px);
    }
}

.overlay {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--bg-overlay);
    z-index: 2;
}

.overlay-active {
    display: block;
}

.browse-category {
    padding: .3rem 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.6s;
}

.browse-category:hover,
.browse-category:active {
    color: var(--text-secondary);
}

.close-button {
    text-align: right;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1rem;
    color: var(--bg-primary);
    cursor: pointer;
    margin-top: 0.2rem;
    z-index: 3;
}

.search-form {
    height: 3.7rem;
}

.side-menu-title {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--bg-secondary);
    padding: 1rem 0.4rem 0.5rem 0;
    text-align: left;
    font-family: 'Koulen';
    font-size: 1.2rem;
}

.side-menu-orders {
    color: var(--text-light);
}

.browse-category-order {
    padding: 0.3rem 0;
    font-weight: 300;
    cursor: pointer;
    color: var(--text-light);
    transition: color 0.6s;
}

.browse-category-order:hover,
.browse-category-order:active {
    color: var(--accent);
}

.browse input {
    display: inline;
    border: 1px inset var(--bg-primary);
    background-color: var(--bg-gallery);
    color: var(--text-primary);
    font-size: .9rem;
    padding: .5rem 3rem .5rem .5rem;
    margin-top: .8rem;
    text-transform: uppercase;
    width: 15rem;
}

.browse button {
    display: inline;
    position: relative;
    left: 12.3rem;
    top: -2.1rem;
    cursor: pointer;
}

.browse button img {
    display: inline;
    width: 2rem;
    display: inline;
    width: 2rem;
    position: relative;
    top: 0.25rem
}

.orders-count-side {
    border: 1px solid var(--text-light);
    padding: 0.2rem 0.2rem;
    border-radius: 20px;
    font-size: .8rem;
    margin-left: 0.5rem;
    min-width: 1rem;
    display: inline-block;
    text-align: center;
}


img.open-book {
    width: 7rem;
}

/* --------------------------------- Toasts ---------------------  */


.toast-container {
    display: none;
    position: fixed;
    top: 6.5rem;
    right: 1.1rem;
    z-index: 4;
}

.toast-container-active {
    display: block;
    width: 21rem;
}

.toast {
    opacity: 0;
    padding: 0.2rem 1rem 1.3rem;
    transition: opacity .5s linear;
    background: var(--bg-toast);
    box-shadow: 0 1px 5px var(--bg-overlay);
    display: flex;
    flex-direction: column;
    animation: appear .5s linear .2s forwards;
}

.toast-disappear {
    animation: disappear .5s linear forwards;
}

@keyframes appear {
    from {
      opacity: 0;   
    }
    to {
      opacity: 1;   
    }
} 

@keyframes disappear {
    from {
      opacity: 1;   
    }
    to {
      opacity: 0;   
    }
}

.toast .triangle {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -15px;
    right: 13px;
    border-top: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid var(--bg-toast);
}

.toast h2 {
    text-transform: uppercase;
    font-family: 'Koulen';
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color:var(--text-primary);
}

.toast-success {
    border-bottom: 1px solid var(--accent);
}

.toast-warning {
    border-bottom: 1px solid var(--bg-secondary);
}

.toast-error {
    border-bottom: 1px solid var(--text-error);
}

.toast-info {
    border-bottom: 1px solid var(--text-primary);
}

.toast-capper {
    height: 2px;
}

@media screen and (min-width: 1442px) {
    .toast-container {
        right: calc(50% - 721px + 1.6rem);
    }
}

/* _----------------------------- Allauth Styles ----------------  */

#errorMsg ol {
    padding: 0;
    color: var(--text-error);
}

/* ------------------------------ Crispy Form Styles ------------  */


/* Color the error message red.  */
.errorField {
    color: var(--text-error);
}

/* Color the error field and border red */
.errorField ~ label,
.errorField ~ input {
    color: var(--text-error);
    border-color: var(--text-error);
}


/* -----------------------------------Staff styles ----------------- */

.staff {
    background: var(--bg-staff);
    background-size: 100vw 100vh;
}

.side-staff {
    background: var(--bg-side-menu-staff);
}