/* -------------------------------------- RESET ------------- */

html, 
body, 
header, 
footer, 
section, 
article, 
h1, 
h2, 
h3, 
p, 
a, 
button, 
ul, 
address, 
svg,
input,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #160f69;
    background: linear-gradient(to bottom, #160f69, #500080, #160f69, #500080, #160f69);
    background-size: 100vw 100vh;
    font-family: 'KoHo', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth;
}

main {
    min-height: 85dvh;
    width: 100vw;
}

h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color:#160f69;
}

/* --------------------------------------- HEADER and FOOTER-------------- */

.mobile {
    display: inline-block;
    cursor: pointer;
}

.desktop {
    display: none;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1443px;
    font-size: 1.1rem;
    background-color:#160f69;
    background: linear-gradient(to bottom, #160f69, #500080, #160f69, #500080, #160f69);
    background-size: 100vw 100vh;
    z-index: 1;
}

.logo {
    width: 90%;
}

.small-logo {
    width: 6rem;
    position: fixed;
    left: calc(50% - 3rem);
    top: 1.6rem;
    z-index: 1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    background-color: #160f69;
    background: linear-gradient(to bottom, #160f69, #500080, #160f69, #500080, #160f69);
    background-size: 100vw 100vh;
    background-position: bottom;
    color: white;
    padding: 1rem 1.5rem;
    text-align: center;
    line-height: 2rem;
}

.header-left {
    display: inline-block;
    color: white;
    align-items: center;
}

.burger-icon {
    position: relative;
    top: 0.3rem;
}

.header-right {
    display: flex;
    color: white;
    align-items: center;
    column-gap: 1.5rem;
}

img.user {
    width: 28px;
    height: 34px;
}

.bag-link {
    cursor: pointer;
    position: relative;
    /* top: .5rem; */
}

img.bag {
    width: 31px;
    height: 39px;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
}

.book-nr {
    display: inline-block;
    position: absolute;
    top: 1rem;
    left: .3rem;
    font-size: .7rem;
    background-color: #1ed446;
    padding: 0.15rem 0;
    border-radius: 0.7rem;
    border: 1px solid #120791;
    color: #120791;
    font-weight: bold;
    font-family: system-ui;
    text-align: center;
    text-align: center;
    width: 1.3rem;
    margin: auto;
}

.email {
    font-size: .8rem;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}


@media screen and (min-width: 500px) {
    .logo {
        width: 100%;
    }
    .email {
        font-size: .9rem;
    }
}

@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: inline-block;
    }

    img.bag {
        position: relative;
    }

    .header-right {
        column-gap: 1rem;
    }
}


@media screen and (min-width: 1442px) {
    header {
        left: calc(50% - 721px + 2.4rem);
        right: calc(50% - 721px + 1.5rem);
    }

    .book-nr {
        left: 0.35rem;
    }
}

.browse {
    position: fixed;
    top: 0;
    left: -17rem; /* Hidden off-screen initially */
    width: 15rem;
    height: 80%;
    background-color: #ffffff;
    background: linear-gradient(to bottom, #fcfafa, #332a8f);
    transition: left 0.4s ease;
    color: #1d194b;
    padding: 1rem;
    z-index: 2;
}

.browse img.open-book {
    position: absolute;
    bottom: 1rem;
    margin: auto;
    padding: 0 2.5rem;
}

/* When the browse menu is open */
.browse.browse-open {
    left: 0; /* Slide the menu in */
}

.menu-filter {
    display: none;
    position: absolute;
    left: 13rem;
    top: 10rem;
    background-color: #dbdbdb;
    padding: 1rem;

}

.menu-filter-active {
    display: block
}

.menu-filter-term {
    font-size: 1rem;
    line-height: 1.6rem;
}

@media screen and (min-width: 1442px) {
    .browse.browse-open {
        left: calc(50% - 721px);
    }
}

.overlay {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: #161528c7;
    z-index: 2;
}

.overlay-active {
    display: block;
}

.browse-category {
    padding: .3rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.6s;
}

.browse-category:hover,
.browse-category:active {
    color: #850083;
}

.close-button {
    text-align: right;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    line-height: 1rem;
    color:#120791;
    cursor: pointer;
    margin-right: 0.1rem;
}

.browse input {
    display: inline;
    border: 1px inset #160f69;
    border-radius: .2rem;
    background-color: #ededed;
    color: #1d194b;
    font-size: .9rem;
    padding: .5rem 3rem .5rem .5rem;
    margin-top: .8rem;
    text-transform: uppercase;
    width: 15rem;
}

.browse button {
    display: inline;
    position: relative;
    left: 12.3rem;
    top: -2.1rem;
    cursor: pointer;
}

.browse button img {
    display: inline;
    width: 2rem;
    display: inline;
    width: 2rem;
    position: relative;
    top: 0.25rem
}

img.open-book {
    width: 10rem;
}

/* --------------------------------- Toasts ---------------------  */


.toast-container {
    display: none;
    position: fixed;
    top: 5.7rem;
    right: 1.1rem;
    z-index: 4;
}

.toast-container-active {
    display: block;
}

.toast {
    opacity: 0;
    transition: opacity .5s linear;
    background: rgb(236 239 255);
    width: 16rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
    box-shadow: -1px 1px 3px #160f69;
    display: flex;
    flex-direction: column;
    animation: appear .5s linear .2s forwards;
}

.toast-disappear {
    animation: disappear .5s linear forwards;
}

@keyframes appear {
    from {
      opacity: 0;   
    }
    to {
      opacity: 1;   
    }
} 

@keyframes disappear {
    from {
      opacity: 1;   
    }
    to {
      opacity: 0;   
    }
}

.toast .triangle {
    width: 0.8rem;
    height: 0.8rem;
    transform: rotate(45deg);
    background-color: rgb(236 239 255);
    position: absolute;
    top: -0.4rem;
    right: 1rem;

}

.toast h2 {
    text-transform: uppercase;
    font-family: 'Koulen';
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color:#160f69;
}

.toast-success {
    border-bottom: 1px solid #1ed446;
}

.toast-warning {
    border-bottom: 1px solid #500080;
}

.toast-error {
    border-bottom: 1px solid #ae0000;
}

.toast-info {
    border-bottom: 1px solid #160f69;
}


.toast-capper {
    height: 2px;
}

@media screen and (min-width: 1442px) {
    .toast-container {
        right: calc(50% - 721px + 2.5rem);
    }
}