.checkout-background {
    background-color: rgb(240, 243, 255);
    padding: 1rem;
    margin: 8rem 1rem 2rem;
}

.checkout-page-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-fieldset {
    border: transparent;
    margin-bottom: 3rem;
    padding: 0;
}

.checkout-fieldset-label {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    padding: 1rem 0;
    width: 100%;
}

.checkout-details-frame {
    display: flex;
    flex-direction: column;
    width: 99%;
    max-width: 30rem;
}

.checkout-form-frame {
    flex-grow: 1;
    width: 100%;
    max-width: 26.5rem;
}

.checkout-details-title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    padding: 1rem 0;
}


.checkout-page-frame .bag-item-details-box {
    grid-template-columns: 5fr 2fr 1fr 4fr 4fr;
}

.checkout-page-frame .bag-item-rows {
    justify-content: flex-end;
}

.checkout-page-frame .bag-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    font-size: .9rem;
    line-height: 1.5rem;
    gap: 0.5rem;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
}

.checkout-page-frame .checkout-button {
    padding: 0.5rem 1.5rem;
}

.checkout-form-info {
    text-align: right;
}


@media screen and (min-width: 416px) {
    .checkout-background {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media screen and (min-width: 455px) {
    .checkout-page-frame .bag-buttons {
        /* font-size: .9rem; */
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 500px) {
    .checkout-page-frame .bag-item-box {
        grid-template-rows: 3rem 1fr;
    }
    .checkout-page-frame .bag-item-image-box {
        grid-row-start: 1;
        grid-row-end: span2;
    }
    .checkout-page-frame .bag-item-rows {
        grid-column-start: 2;
        font-size: .9rem;
    }
    .checkout-details-frame {
        max-width: 26.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .checkout-page-frame {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1442px) {
    .checkout-background {
        margin-left: calc(50% - 721px + 2rem);
        margin-right: calc(50% - 721px + 2rem);
    }
}

.form-group .textinput,
.form-group .emailinput,
.form-group .lazyselect {
    width: 100%;
    margin-bottom: 1.4rem;
    border-color: lightgray;
}

/* ---------------------------------------------Stripe checkout--------  */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #7c7c7c;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin-bottom: 1rem;
  width: 100%;
  font-family: 'Montserrat';
font-size: 1rem;
font-weight: 200;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.stripeElement--invalid {
    color: #dc3545;
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.card-errors {
    display: flex;
    color: #dc3545;
    font-size: .9rem;
    gap: .5rem;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* --------------------------------- Checkout Success ------------  */

.success-confirmation-text {
    text-align: center;
    margin-bottom: 1rem;
}

.success-details-title {
    margin: 1.5rem 0;
    text-transform: uppercase;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    padding: .7rem 0;
}

.success-details-frame {
    display: flex;
    flex-direction: column;
}

.success-item-title {
    font-weight: bold;
    line-height: 1rem;
}