main {
    background: url('/media/background-mobile.webp') no-repeat center bottom fixed;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.colored-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--book-overlay);
}

.staff {
    background: var(--book-overlay-staff);
}

main img.logo {
    width: 250px;
    margin-top: 1rem;
    max-width: 200px;
    max-height: 130px;
    z-index: 2;
}

@media screen and (min-width: 500px) {
    main {
        background: url('/media/background-desktop.webp') no-repeat center bottom fixed;
    }
    main img.logo {
        width: 400px;
        height: 240px;
        margin-top: 0;
    }
}

.main-button {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'KoHo';
    color: var(--primary);
    background-color: var(--accent);
    border: 1px solid var(--primary);
    display: inline;
    padding: .5rem 3rem 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
    z-index: 2;
}

.staff-buttons-box {
    display: flex;
    flex-direction: column;
}

.staff-button {
    font-size: 1rem;
    background-color: var(--bg-translucent);
    color: var(--text-primary);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: .5rem 1.5rem;
    display: inline-block;
    width: 19rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.orders-count {
    border: 1px solid var(--bg-secondary);
    padding: 0.2rem 0.3rem;
    border-radius: 20px;
    color: var(--text-primary);
    font-size: .9rem;
    position: absolute;
    right: 0.4rem;
    bottom: 0.8rem;
}

@media screen and (min-width: 1000px) {
    .staff-buttons-box {
        flex-direction: row;
    }
}