.books-background {
    background-color: rgb(194, 207, 255);
    border-radius: 0.2rem;
    margin: 7rem 1rem 2rem;
}

/* --------------------------------- Filter - Sort styles -----  */

.filter-sort-search-box {
    padding: 1rem .25rem 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.filter-sort-input {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.filter-sort-input label {
    align-self: center;
}

.filter-select {
    width: 50%;
    padding: 0.2rem;
    font-size: .9rem;
    border-radius: .2rem;
    font-family: 'Montserrat', sans-serif;
}

.filter-search {
    background: white;
    border: 1px solid grey;
    padding: 0.3rem;
    width: 80%;
    border-radius: 0.2rem 0 0 0.2rem;
    border-right: none;
}

.search-input-box {
    width: 50%;
    display: flex;
    justify-content: flex-end
}

.search-input button {
    display: inline;
    cursor: pointer;
    width: 2.5rem;
    background-color: white;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0 0.2rem 0.2rem 0;
}

.search-input button img {
    display: inline;
    width: 1.7rem;
    position: relative;
    top: 0.1rem;
}


/* ------------------------------------------ Book gallery styles -------  */

.gallery {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    font-size: .9rem;
    padding: .25rem;
}

.book-count {
    margin: 1rem .5rem 1rem .5rem;
    padding: 1rem 0;
    font-weight: bold;
    color: #850083;
    border-bottom: 1px solid #850083;
}

.no-results {
    text-align: center;
    margin-top: 4rem;
    font-family: 'Koulen';
    font-size: 1.2rem;
    color: #160f69;
    line-height: 1.3rem;
    min-height: 5rem
}

.bookFrame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .25rem;
    height: 47rem;
    background-color: rgb(240, 243, 255);
    border-radius: .2rem;
    box-shadow: 2px 2px 5px #160f69;
    padding: 1rem;
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 1rem;
    padding: .5rem .7rem;
    border: 1px solid #850083;
    border-radius: .2rem .2rem 0 0;
    border-bottom: 0;
    cursor: pointer;
    color:#850083;
    background-color: white;
}

@media screen and (min-width: 416px) {
	.gallery {
        padding: 1rem;
	}
    .filter-sort-search-box {
        padding: 1rem 1rem 0 1rem;
	}
    .books-background {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .book-count {
        margin: 1.25rem 1.25rem 0 1.25rem;
    }
}

@media screen and (min-width: 450px) {
	.gallery {
        padding: 1rem 2rem 2rem 2rem;
	}
    .filter-sort-search-box {
        padding: 2rem 2rem 0 2rem;
	}
    .book-count {
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }
}

@media screen and (min-width: 500px) {
	.gallery {
        padding: 1rem 3rem 3rem 3rem;
	}
    .filter-sort-search-box {
        padding: 2rem 3rem 0 3rem;
	}
    .book-count {
        margin-left: 3.25rem;
        margin-right: 3.25rem;
    }
}

@media screen and (min-width: 550px) {
	.gallery {
        padding: 1rem 4rem 4rem 4rem;
	}
    .filter-sort-search-box {
        padding: 2rem 4rem 0 4rem;
	}
    .book-count {
        margin-left: 4.25rem;
        margin-right: 4.25rem;
    }
}

@media screen and (min-width: 600px) {
	.gallery {
		grid-template-columns: 50% 50%;
        padding: 1rem;
        /* padding: 1rem .25rem .25rem .25rem; */
	}
    .filter-sort-search-box {
        padding: 1rem 1rem 0 1rem;
	}
    .filter-sort-input,
    .search-term-box {
        justify-content: flex-end;
    }
    .filter-select {
        width: 40%;
        margin-left: 1rem;
    }
    .search-input-box {
        width: 40%;
        margin-left: 1rem;
    }
    .filter-search {
        width: 100%;
        margin-left: 0;
    }
    .book-count {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}


@media screen and (min-width: 850px) {
	.gallery {
		grid-template-columns: 33.33% 33.33% 33.33%;
	}
    .filter-sort-search-box {
        margin-right: 33.33%;
    }
    .filter-select {
        margin-left: 1rem;
    }
    .filter-search {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
	.gallery {
		grid-template-columns: 25% 25% 25% 25%;
	}
}


@media screen and (min-width: 1442px) {
    .books-background {
        margin-left: calc(50% - 721px + 2rem);
        margin-right: calc(50% - 721px + 2rem);
    }
    .back-to-top {
        right: calc(50% - 721px + 1.5rem);
    }
}

.book-image-box {
    height: 25rem;
    display: flex;
}

.book-image {
    max-height: 23rem;
    object-fit: contain;
}

.book-title {
    margin: 1.5rem 0 .2rem;
    font-family: 'Koulen';
    font-size: 1.2rem;
    color: #160f69;
    line-height: 1.3rem;
    min-height: 5rem
}

.book-details-box {
    display: flex;
    flex-direction: column;
    height: 20rem;;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.add-button {
    border: 1px solid #160f69;
    margin-top: .5rem;
    padding: 0.5rem;
    font-weight: bold;
    color: #160f69;
    border-radius: 1.6rem;
    background-color: #1ED446;
    cursor: pointer;
}

.out-of-stock {
    font-weight: bold;
    color: #b7000c;
}

.book-price {
    margin-bottom: .2rem;
    font-weight: bold;
    font-size: 1.7rem;
    color: #850083;
}

.filter-sort-input {
    padding: 0.2rem;
    font-size: .9rem;
    border-radius: .2rem;
}

.more-details {
    text-transform: uppercase;
    color:#160f69;
    text-decoration: underline;
}

.cheapest {
    color:#160f69;
    font-size: .8rem;
    font-weight: bold;
}

.book-condition {
    color:#160f69;
    font-size: .8rem;
}


/* ------------------------------ Book detail page styles -------  */

.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 243, 255);
    padding: 1rem;
}

.detail-page-frame {
    max-width: 20rem;
}

.detail-page-frame img {
    width: unset;
}

.real-product-link {
    font-size: .8rem;
    color:#160f69;
}

.detail-page-frame .book-details-box {
    min-height: 20rem;
}

@media screen and (min-width: 700px) {
    .detail-page {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .detail-page-frame {
        display: flex;
        padding: 4%;
        max-width: unset;
    }

    .detail-page-frame .book-details-box {
        margin-left: 3%;
    }

    .detail-page-frame .book-title {
        margin-top: 0;
    }
}

.stockline {
    display: grid;
    grid-template-columns:  15% 25% 30% 30%;
    align-items: center;
    line-height: 1.5rem;
}

.stockline-condition {
    text-transform: capitalize;
    font-size: .9rem;
}

.stockline-price {
    color:#160f69;
    font-size: 1.1rem;
    font-weight: bold;
}

.stockline-in-stock {
    font-size: .7rem;
    color:#00ad26;
    line-height: .7rem;
}

.stockline-out-of-stock {
    display: flex;
    font-size: .7rem;
    color:#b7000c;
    grid-column-start: 3;
    grid-column-end: span2;
    margin: 0.3rem 0;
}

.stockline-button-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 0.5rem;
}

.stockline-button {
    border: 1px solid #160f69;
    padding: .2rem .7rem;
    font-weight: bold;
    font-size: .9rem;
    color: #160f69;
    border-radius: 1.6rem;
    background-color: #1ED446;
    cursor: pointer;

}

.stockline-button:disabled {
    opacity: 0.5;
}

.stockline-replace-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stockline-counter {
    padding: 0 .5rem;
}

