.books-background {
    background-color: rgb(194, 207, 255);
    border-radius: 0.2rem;
    margin: 7rem 1rem 2rem;
}

@media screen and (min-width: 1442px) {
    .books-background {
        margin-left: calc(50% - 721px + 2rem);
        margin-right: calc(50% - 721px + 2rem);
    }
}

.gallery {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    font-size: 1.1rem;
    padding: .5rem;
}

.bookFrame {
    display: inline-block;
    margin: .5rem;
    height: 25rem;
    background-color: rgb(237, 240, 252);
    border-radius: .2rem;
    box-shadow: 2px 2px 5px #160f69;
    padding: 1rem;
}

@media screen and (min-width: 640px) {
	.gallery {
		grid-template-columns: 50% 50%;
	}
}

@media screen and (min-width: 850px) {
	.gallery {
		grid-template-columns: 33.33% 33.33% 33.33%;
	}
}
@media screen and (min-width: 1200px) {
	.gallery {
		grid-template-columns: 25% 25% 25% 25%;
	}
}
