.modal-background {
    display: none;
    position: fixed;
    background-color: var(--bg-overlay);
    opacity: 0;
    transition: opacity 1000ms;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.modal-active {
    display: flex;
    opacity: 1;
}

.modal-body {
    background: var(--bg-detail);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
}

.modal-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bg-secondary);
    margin-bottom: 1rem;
}