.no-orders {
    margin: 2rem 0;
    padding: 0 0.4rem;
    text-align: center;
}

.open-orders-box {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr 2fr;
    text-align: center;
    gap: 0.5rem;
    text-align: left;
}

.completed-orders-box {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr 2fr 2fr;
    text-align: center;
    gap: 0.5rem;
    text-align: left;
}

.order-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg-gallery);
    padding: 1rem;
    margin: 7rem 1rem 2rem;
    min-height: 68.2vh;
}

.order-list-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-gallery);
    padding: 1rem;
    margin: 7rem 1rem 2rem;
    min-height: 68.2vh;
    font-size: .9rem;
}

@media screen and (min-width: 416px) {
    .order-frame {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding: 0 2rem 7rem;
    }
    .order-list-frame {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding: 0 1rem 4rem;
    }
}

@media screen and (min-width: 700px) {
    .order-frame {
        padding-left: 20%;
        padding-right: 20%;
    }
    .order-list-frame {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1442px) {
    .order-frame,
    .order-list-frame {
        margin-left: calc(50% - 721px + 2rem);
        margin-right: calc(50% - 721px + 2rem);
    }
}

.order-list-section {
    width: 100%;
}

.order-title {
    padding: 1rem;
    margin-top: 1.5rem;
    width: 100%;
}

/* When the cell is too narrow, truncate the content
and add "..." to the end. */
.order-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.order-center {
    text-align: center;
}

.order-right {
    text-align: right;
}

.order-subtitle {
    color: var(--text-secondary);
    font-weight: bold;
    border-top: 1px solid var(--input-border);
    border-bottom: 1px solid var(--input-border);
    margin: 1.5rem 0;
    padding: 1rem 0;
    text-transform: uppercase;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-item-box {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 3rem 1fr 2.5rem 1rem;
    margin: 2rem 0 3rem;
    column-gap: 0.3rem;
    align-items: flex-start;
    grid-template-areas:
        "image title"
        "image void"
        "image condition"
        "image price";
    font-weight: bold;
    color: var(--text-primary);
}

.order-item-image {
    grid-area: image;
}

.order-item-title {
    font-family: 'Koulen';
    font-size: 1.1rem;
    line-height: 1.1rem;
}

.order-item-condition {
    grid-area: condition;
}

.order-item-emphasized {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--text-accent);
}

.order-item-price {
    grid-area: price;
    font-weight: normal;
    font-size: .9rem;
}

.mark-order-btn {
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}