.no-orders {
    margin: 2rem 0;
    padding: 0 0.4rem;
    text-align: center;
}

.orders-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 0.2rem;
    text-align: left;
}

.order-name {
    text-align: left;
}