.shopping-bag-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-detail);
    padding: 1rem;
    margin: 8rem 1rem 2rem;
}

@media screen and (min-width: 416px) {
    .shopping-bag-frame {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

.keep-shopping {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'KoHo';
    color: var(--text-primary);
    background-color: var(--accent);
    border: 1px solid var(--bg-primary);
    padding: .3rem 1rem .6rem;
    text-decoration: none;
    margin: 2rem;
}

.title {
    padding: 1rem;
    border-bottom: 1px solid var(--input-border);
    margin-bottom: 2rem;
    margin-top: 0.3rem;
    width: 100%;
}

.empty-bag {
    text-align: center;
    height: 5rem;
}

.bag-page-frame {
    display: flex;
    flex-direction: column;
}

.bag-item-box {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 7.5rem 1fr;
    margin-bottom: 3rem;
    column-gap: .3rem;
}

.bag-item-title {
    font-family: 'Koulen';
    color:var(--text-primary);
    line-height: 1rem;
    max-width: 20rem;
}

.bag-item-rows {
    grid-column-start: 1;
    grid-column-end: span2;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.bag-item-details-box {
    display: grid;
    grid-template-columns: 2.2fr 1fr 2fr 1fr;
    align-items: center;
    margin: 0.1rem 0;
}

.bag-item-quantity-box {
    display: flex;
    justify-content: center;
}

.bag-item-image {
    width: 100%;
    max-height: 7rem;
}

.bag-item-total {
    color:var(--text-primary);
    font-weight: bold;
}

.radio-button {
    cursor: pointer;
}

.bag-item-button {
    background-color: var(--bg-secondary);
    padding: 0 0.35rem .1rem;
    margin: 0 0.2rem;
    cursor: pointer;
    color: var(--text-light);
}

.bag-item-button:disabled {
    background-color: var(--bg-secondary)82;
}

.bag-item-quantity {
    min-width: 20px;
    text-align: center;
}

.bag-item-total {
    text-align: right;
}

.bag-total {
    color:var(--text-primary);
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    margin-top: 1rem;
}

.bag-grand-total {
    color:var(--text-primary);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
}

.bag-shipping {
    font-size: .8rem;
    text-align: right;
    margin: .5rem 0;
    line-height: 1.5rem;
}

.bag-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    margin: 2rem 0 3rem;
    font-size: .9rem;
    gap: 1.5rem;
}

.keep-shopping-button-box {
    text-align: center;
    margin-bottom: 1rem;
}

.keep-shopping-button {
    border: 1px solid var(--bg-secondary);
    padding: 0.5rem .9rem;
    color: var(--text-secondary);
    text-transform: uppercase;
}

.checkout-button {
    border: 1px solid var(--bg-secondary);
    padding: 0.5rem 2rem;
    color: var(--text-light);
    background-color: var(--bg-secondary);
    text-transform: uppercase;
    margin-left: 0.5rem;
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    .bag-page-frame .bag-buttons {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 2rem 0 3rem;
        font-size: .9rem;
    }

    .bag-item-rows {
        font-size: .9rem;
    }
    
}

@media screen and (min-width: 500px) {
    .bag-page-frame .bag-item-box {
        grid-template-rows: 3rem 1fr;
    }

    .bag-page-frame .bag-item-image-box {
        grid-row-start: 1;
        grid-row-end: span2;
    }

    .bag-page-frame .bag-item-rows {
        grid-column-start: 2;
        font-size: .9rem;
    }

    .bag-buttons {
        font-size: 1rem;
    }

    .checkout-button {
        padding: 0.5rem 2.02rem;
    }
}

@media screen and (min-width: 1442px) {
    .shopping-bag-frame {
        margin-left: calc(50% - 721px + 2rem);
        margin-right: calc(50% - 721px + 2rem);
    }
}

.quick-bag {
    position: fixed;
    top: 0;
    right: -22rem; /* Hidden off-screen initially */
    width: 20rem;
    background-color: var(--bg-detail);
    transition: right 0.4s ease;
    padding: 1rem;
    z-index: 3;
    max-height: 100vh;
    overflow-y: scroll;
}


/* When quick-bag is open */
.quick-bag-open {
    right: 0; /* Slide the menu in */
}

.quick-bag .bag-item-details-box {
    grid-template-columns: 5fr 2fr 1fr 4fr 4fr;
}

.quick-bag .bag-item-rows {
    justify-content: flex-end;
}

.quick-bag .bag-buttons {
    justify-content: space-between;
    font-size: .9rem;
}

@media screen and (min-width: 1442px) {
    .quick-bag-open {
        right: calc(50% - 721px);
    }
}

.quick-bag > .close-button {
    text-align: right;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    line-height: 1rem;
    color: var(--text-primary);
    cursor: pointer;
    margin-right: 0.1rem;
    margin-bottom: 1rem;
}

.quick-bag .title {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--bg-secondary);
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 1.1rem;
}

.edit-bag-button {
    border: 1px solid var(--bg-secondary);
    padding: 0.5rem 2.6rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    background-color: var(--bg-detail);
}

.quick-bag .checkout-button {
    margin-left: 0;
    padding: 0.5rem 2.2rem;
}
