.shopping-bag-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 243, 255);
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 7rem 1rem 2rem;
}

@media screen and (min-width: 416px) {
    .shopping-bag-frame {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

.keep-shopping {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'KoHo';
    color: #160f69;
    background-color: #1ED446;
    border: 1px solid #160f69;
    border-radius: 4rem;
    padding: .3rem 1rem .6rem;
    text-decoration: none;
    margin: 2rem;
}

.title {
    padding: 1rem;
    border-bottom: 1px solid #850083;
    margin-bottom: 2rem;
}

.empty-bag {
    text-align: center;
}

.bag-page-frame {
    display: flex;
    flex-direction: column;
}

.bag-item-box {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 7.5rem 1fr;
    margin-bottom: 3rem;
    column-gap: .2rem;
}

.bag-item-title {
    font-family: 'Koulen';
    color:#160f69;
    line-height: 1rem;
    max-width: 20rem;
}

.bag-item-rows {
    grid-column-start: 1;
    grid-column-end: span2;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.bag-item-details-box {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    align-items: center;
    margin: 0.1rem 0;
}

.bag-item-quantity-box {
    display: flex;
    justify-content: center;
}

.bag-item-image {
    width: auto;
    max-height: 7rem;
}

.bag-item-total {
    color:#160f69;
    font-weight: bold;
}

.bag-item-button {
    background-color: #850083;
    padding: 0 0.35rem .1rem;
    margin: 0 0.2rem;
    cursor: pointer;
    color: white;
}

.bag-item-quantity {
    min-width: 20px;
    text-align: center;
}

.bag-item-total {
    text-align: right;
}

.bag-total {
    color:#160f69;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    margin-top: 1rem;
}

.bag-grand-total {
    color:#160f69;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
}

.bag-shipping {
    font-size: .8rem;
    text-align: right;
    margin: .5rem 0;
    line-height: 1.5rem;
}

.bag-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 2rem 0 3rem;
    font-size: .9rem;
    line-height: 3rem;
}

.keep-shopping-button {
    border: 1px solid #850083;
    padding: 0.5rem .8rem;
    color: #850083;
    text-transform: uppercase;
}

.checkout-button {
    border: 1px solid #850083;
    padding: 0.5rem 1.87rem;
    color: white;
    background-color: #850083;
    text-transform: uppercase;
    margin-left: 0.5rem;
}

@media screen and (min-width: 400px) {
    .bag-buttons {
        flex-direction: row;
        justify-content: flex-end;
        margin: 2rem 0 3rem;
        font-size: .9rem;
        line-height: 3rem;
    }
    
}

@media screen and (min-width: 550px) {
    .bag-item-box {
        grid-template-rows: 3rem 1fr;
    }

    .bag-item-image-box {
        grid-row-start: 1;
        grid-row-end: span2;
    }

    .bag-item-rows {
        grid-column-start: 2;
        font-size: .9rem;
    }

    .bag-buttons {
        font-size: 1rem;
    }

    .checkout-button {
        padding: 0.5rem 2.02rem;
    }
}