{% extends "base.html" %}
{% load static %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="shopping-bag-frame">
        <h1 class="title">Shopping bag</h1>
        <div class="bag-page-frame">
            {% if bag_items %}
                {% for item in bag_items %}
                <div class="bag-item-box">
                    <!-- item.0 holds the book object  -->
                    <a href="{{ item.0.get_slug_url}}" class="bag-item-image-box">
                        {% if item.0.image %}
                        <img class="bag-item-image" src="{{ item.0.image.url }}" alt="{{ item.0.title}}" width="{{ item.0.image.width }}" height="{{ item.0.image.height }}">
                        {% else %}
                        <img class="bag-item-image" src="{{ MEDIA_URL }}noimage.png" alt="no image for {{ item.0.title}}" width="{{ item.0.image.width }}" height="{{ item.0.image.height }}">
                        {% endif %}
                    </a>
                
                    <h2 class="bag-item-title">{{ item.0.title }}</h2>
                    <div class="bag-item-rows">
                        
                        <!-- item.1 holds three objects in the order of "new", "good" and "fair", each of which
                            holds the properties of the stock item: ('condition', 'price', 'quantity' and 
                            'line_total'). -->
                        {% for properties in item.1 %}
                        {% if properties %}
                        
                        <div class="bag-item-details-box">
                            <div class="bag-item-condition">Condition: {{ properties.condition }}</div>
                            <div class="bag-item-price">£{{ properties.price }}</div>
                
                            <div class="bag-item-quantity-box">
                                <form class="" action="{% url 'remove_from_bag' properties.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button type="submit" class="primary-btn bag-item-btn">
                                        &minus;
                                    </button>
                                </form>
                                <span class="bag-item-quantity">{{ properties.quantity }}</span>
                                <form class="" action="{% url 'add_to_bag' properties.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button type="submit" class="primary-btn bag-item-btn"
                                    {% if properties.available_quantity < 1 %} 
                                        disabled
                                    {% endif %}
                                    >
                                        &plus;
                                    </button>
                                </form>
                            </div>
                            <div class="bag-item-total">£{{ properties.line_total }}</div>
                        </div>
                        
                
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div  class="bag-total">Bag Total: £<span class="bag-total-number">{{ total }}</span></div>
                <div class="bag-shipping">
                    <form>
                        <div>
                        <label class="radio-button">
                            Shipping (UK)  -  £{{ shipping_cost|floatformat:2 }} 
                            <input class="radio-button" type="radio" name="shipping-info" value="post"
                            
                            >
                        </label>
                        </div>
                        <div>
                            <label class="radio-button">
                                Collect in school - free
                                <input class="radio-button" type="radio" name="shipping-info" value="pickup">
                            </label>
                        </div>
                        
                    </form>
                </div>
                <!-- Grand Total is calculated in javascript.  -->
                <div class="bag-grand-total">Grand Total: £<span class="grand-total-number"></span></div>
                <div class="bag-buttons">
                    <div><a href="{% url 'books' %}" class="secondary-btn keep-shopping-button">Keep shopping</a></div>
                    <form action="{% url 'check_stock_and_update_bag' %}" method="GET">
                        <input type="hidden" class="shipping-info" name="shipping-info">
                        <button class="primary-btn checkout-btn">Checkout</button>
                    </form>
                </div>
            {% else %}
            <p class="empty-bag">
                Your bag is empty.
            </p>
            
            <a href="{% url 'books' %}" class="keep-shopping">Keep shopping</a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postload %}
{{ block.super }}
    <script src="{% static 'js/bag.js' %}" type="module"></script>
{% endblock %}