{% load static %}

<div id="browse" class="browse {% if user.is_staff %} side-staff {% endif %}">
    <div id="close-menu" class="close-button">
        &#9747;
    </div>
    <div>
        <h2 class="side-menu-title">
            {% if user.is_staff %}
                Inventory management
            {% else %}
                Filter books
            {% endif %}
        </h2>
        <ul>
            <li>
                <form id="search-form" class="search-form" method="GET" action="{% url 'books' %}">
                    <div>
                        <input id="search-input" type="text" name="search" placeholder="Search">
                        <button id="search-button" type="button" aria-label="search button" disabled>
                            <!-- An unsolved issue by W3C is that the <use> tag inside an <svg> would be blocked by CORS policy as it exposes a security
                                risk.
                                As I serve my static files from AWS S3, it will be from external origin. I would also need to use the <use> tag 
                                to be able to style the icon dynamically from css. The workaround for this issue today is to include/inject the 
                                <svg> inline, as I'm doing it here. 
                                See more here: https://bugs.chromium.org/p/chromium/issues/detail?id=470601 
                                and here: https://github.com/w3c/svgwg/issues/707#issuecomment-895914972
                                Upcoming solution: (drafts stage since 7 August, 2023) https://drafts.csswg.org/css-link-params/
                            -->
                            <svg class="search-icon" width="32" height="20" viewBox="0 0 31 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="12" y="1" width="18" height="18" rx="9" stroke="" stroke-width="2" />
                                <path d="M12 14L1 18" stroke="" stroke-width="2" />
                            </svg>
                        </button>
                    </div>
                </form>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}?year_group=year7-9">Year 7-9</a>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}?year_group=gcse">GCSE</a>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}?year_group=a-level">A Level</a>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}">All Textbooks</a>
            </li>
            {% if user.is_staff %}
            <li class="browse-category">
                <a href="{% url 'add_book' %}">Add New Book</a>
            </li>
            {% endif %}    
        </ul>
    </div>
    {% if user.is_staff %}
    <br>
    <div class="side-menu-orders">
        <h2 class="side-menu-title">Order management</h2>
        <ul>
            <li class="browse-category-order">
                <a href="{% url 'orders_post' %}">Orders to Post
                    {% if orders_to_post_count > 0 %}
                    <span class="orders-count-side">{{ orders_to_post_count }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="browse-category-order">
                <a href="{% url 'orders_pickup' %}">Orders for Collection
                    {% if orders_to_collect_count > 0 %}
                    <span class="orders-count-side">{{ orders_to_collect_count }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="browse-category-order">
                <a href="{% url 'orders_completed' %}">Completed Orders</a>
            </li>
        </ul>
    </div>
    {% endif %}
    
</div>