{% load static %}

<div id="browse" class="browse {% if user.is_staff %} side-staff {% endif %}">
    <div id="close-menu" class="close-button">
        &#9747;
    </div>
    <div>
        <h2 class="side-menu-title">
            {% if user.is_staff %}
                Inventory management
            {% else %}
                Filter books
            {% endif %}
        </h2>
        <ul>
            <li>
                <form id="search-form" class="search-form" method="GET" action="{% url 'books' %}">
                    <div>
                        <input id="search-input" type="text" name="search" placeholder="Search">
                        <button id="search-button" type="button" disabled>
                            <img class="search" src="{% static 'svg/search-icon.svg' %}" alt="search icon" width="30"
                                height="20">
                        </button>
                    </div>
                </form>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}?year_group=year7-9">Year 7-9</a>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}?year_group=gcse">GCSE</a>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}?year_group=a-level">A Level</a>
            </li>
            <li class="browse-category">
                <a href="{% url 'books' %}">All Textbooks</a>
            </li>
            {% if user.is_staff %}
            <li class="browse-category">
                <a href="{% url 'add_book' %}">Add New Book</a>
            </li>
            {% endif %}    
        </ul>
    </div>
    {% if user.is_staff %}
    <br>
    <br>
    <div class="side-menu-orders">
        <h2 class="side-menu-title">Order management</h2>
        <ul>
            <li class="browse-category-order">
                <a href="{% url 'orders_post' %}">Orders to Post</a>
            </li>
            <li class="browse-category-order">
                <a href="{% url 'orders_pickup' %}">Orders for Collection</a>
            </li>
            <li class="browse-category-order">
                <a href="{% url 'orders_completed' %}">Completed Orders</a>
            </li>
        </ul>
    </div>
    {% endif %}
    
    <div>
        <img class="open-book" src="{% static 'svg/open-book-icon.svg' %}" alt="open book icon" width="159" height="98">
    </div>
</div>