{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="checkout-background">
        <h1 class="title">Inventory Management</h1>
        <div class="checkout-page-frame">
            
            <div class="checkout-form-frame">
                <form action="{% url 'add_book'%}" method="POST" id="add-book-form" class="add-book-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="checkout-fieldset">
                        <legend class="checkout-fieldset-label">Add a New Book</legend>
                        {% for field in bookform %}
                            {% if field.name != 'image' %}
                                {{ field|as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    <div class="bag-buttons">
                        <button id="submit-button" type="submit" class="primary-btn checkout-btn">
                            Add new book
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postload %}
{{ block.super }}
<script src="{% static 'js/book_management.js' %}"  type="module"></script>
{% endblock %}