{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<a href="{% url 'home' %}" class="small-logo">
    <img class="logo" src={% static 'svg/book-cycle-logo.svg' %} alt="book cycle logo" width="10" height="6">
</a>
<main>
    <div class="books-background">
        <div class="filter-sort-search-frame">
            <div class="search-filter-buttons-box">
                <button id="all-books" class="search-filter-button active">All Books</button>
                <button id="year7-9" class="search-filter-button">Year 7-9</button>
                <button id="gcse" class="search-filter-button">GCSE</button>
                <button id="a-level" class="search-filter-button">A Level</button>
                <button id="more-options" class="search-filter-button">More Options</button>
            </div>
            <div id="filter-sort-search-box" class="filter-sort-search-box">

                <div class="filter-sort-input search-input">
                    <label for="search-input">Search term: </label>
                    <div class="search-input-box">
                        <input id="search-input-nr2" class="filter-select filter-search" type="text" name="search" placeholder="-----" 
                        value="{{ search_term|default:'' }}">
                        <button id="search-button-nr2" type="button">
                            <img class="search" src="{% static 'svg/search-icon.svg' %}" alt="search icon" width="30" height="20">
                        </button>
                    </div>
                </div>
                <div class="filter-sort-input">
                    <label for="filter-subject">Filter by Subject:  </label>
                    <select name="subject" id="filter-subject" class="filter-select filter-subject">
                        <option value="None">-----</option>
                        {% for s in all_subjects %}
                            <option value="{{ s.name }}"
                            {% if subject == s.name %}
                            selected
                            {% endif %}
                            >{{ s.friendly_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-sort-input">
                    <label for="filter-yeargroup">Filter by Year Group:  </label>
                    <select name="year_group" id="filter-yeargroup" class="filter-select filter-yeargroup">
                        <option value="None">-----</option>
                        {% for yg in all_year_groups %}
                        <option value="{{ yg.name }}"
                            {% if year_group == yg.name %}
                            selected
                            {% endif %}
                        >{{ yg.friendly_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-sort-input">
                    <label for="sort">Sort by:  </label>
                    <select name="sort" id="sort" class="filter-select sort">
                        <option value="title_asc" {% if current_sorting == 'title_asc' %} selected {% endif %}>Title - A-Z</option>
                        <option value="title_desc" {% if current_sorting == 'title_desc' %} selected {% endif %}>Title - Z-A</option>
                        <option value="subject_asc" {% if current_sorting == 'subject_asc' %} selected {% endif %}>Subject - A-Z</option>
                        <option value="subject_desc" {% if current_sorting == 'subject_desc' %} selected {% endif %}>Subject - Z-A</option>
                    </select>
                </div>

            </div>
        </div>
        <!-- Display search result counts  -->
        {% if books.count == 0 %}
            <h1 class="no-results">No results found.</h1>
        {% else %}
            <p class="book-count">{{ books|length }} {% if books|length > 1 %} Books {% else %} Book {% endif %} found.</p>
        {% endif %}

        <!-- Dispay list of books  -->
        <div class="gallery">
            {% for book in books %}
                <article class="bookFrame">
                    {% if user.is_staff %}
                        <div>
                            {% if book.image %}
                            <img class="book-image" src="/media/{{ book.image }}" alt="{{ book.title }}" width="386" height="500">
                            {% else %}
                            <img class="book-image" src="/media/noimage.png" alt="book with no image" width="386" height="500">
                            {% endif %}
                        </div>
                    {% else %}
                        <a href="{{ book.get_slug_url}}?{{query_string}}" class="book-image-box">
                            {% if book.image %}
                                <img class="book-image" src="/media/{{ book.image }}" alt="{{ book.title }}" width="386" height="500">
                            {% else %}
                                <img class="book-image" src="/media/noimage.png" alt="book with no image" width="386" height="500">
                            {% endif %}
                        </a>
                    {% endif %}
                    <div class="book-details-box">
                        <h2 class="book-title">{{ book.title }}</h2>
                        {% if user.is_staff %}
                            <div class="manage-stock-details-box">
                                <div class="book-condition-title">Condition</div>
                                <div class="book-price-title">Price</div>
                                <div class="available-stock-title">Available Stock</div>
                                <div class="book-condition">New</div>
                                <div class="book-price">£{{ book.get_stock_new.price}}</div>
                                <div class="available-stock">{{ book.get_stock_new.get_available_quantity }}</div>
                                <div class="book-condition">Good</div>
                                <div class="book-price">£{{ book.get_stock_good.price}}</div>
                                <div class="available-stock">{{ book.get_stock_good.get_available_quantity }}</div>
                                <div class="book-condition">Fair</div>
                                <div class="book-price">£{{ book.get_stock_fair.price}}</div>
                                <div class="available-stock">{{ book.get_stock_fair.get_available_quantity }}</div>
                            </div>
                        {% else %}
                            {% if book.id in book_list_in_bag %} <a href="{{ book.get_slug_url}}" class="in-your-bag">&check; In your bag!</a>{% endif %}
                            {% if not book.in_stock %}
                            <p class="out-of-stock">&cross; {% if book.id in book_list_in_bag %} No more stock {% else %}Out of stock {% endif %}</p>
                            {% else %}
                                <div>
                                <div class="cheapest">Our lowest price: </div>
                                <p class="book-price">£{{ book.get_cheapest_stock.price }}</p>
                                <p class="book-condition">(Condition: <strong>{{ book.get_cheapest_stock.condition }})</strong></p>
                                </div>
                            {% endif %}
                            
                            <p class="book-year-group">Year Group: <strong>{{ book.year_group.friendly_name }}</strong></p>
                            <p class="book-subject">Subject: <strong>{{ book.subject.friendly_name }}</strong></p>
                        {% endif %}

                        {% if user.is_staff %}
                                <a href="{% url 'edit_book' book.slug %}?{{query_string}}&redirect_url={{request.path}}"
                                 class="more-details">Edit Book Details
                                </a>
                            
                        {% else %}
                            <a class="more-details" href="{% url 'book_detail' book.slug %}?{{query_string}}">More Options and Details</a>
                        {% endif %}

                        {% if user.is_staff %}
                            <a href="{% url 'manage_stock' book.slug %}?{{query_string}}&redirect_url={{request.path}}"
                                 class="add-button">Manage Stock
                            </a>
                        {% else %}
                        
                            <!-- Only add an "Add" button if the book is on stock  -->
                            {% if book.in_stock%}
                                <form action="{% url 'add_to_bag' book.get_cheapest_stock.id %}" method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button type="submit" class="add-button">Add</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
    <div class="back-to-top">
        ▲
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postload %}
{{ block.super }}
    <script src="{% static 'js/books.js' %}" type="module"></script>
{% endblock %}