{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}

{% block content %}
<div class="small-logo">
    <img class="logo" src={% static 'svg/book-cycle-logo.svg' %} alt="book cycle logo" width="10" height="6">
</div>
<main>
    <div class="books-background">
        <div class="filter-sort-input-box">
            <div class="filter-sort-input">
                <label for="filter-subject">Filter by Subject:  </label>
                <select name="filter-subject" id="filter-subject" class="filter-select filter-subject">
                    <option value="" selected>-----</option>
                    <option value="English">English</option>
                    <option value="Mathematics">Mathematics</option>
                </select>
            </div>
            <div class="filter-sort-input">
                <label for="filter-yeargroup">Filter by Year Group:  </label>
                <select name="filter-yeargroup" id="filter-yeargroup" class="filter-select filter-yeargroup">
                    <option value="" selected>-----</option>
                    <option value="yr_7-9">Year 7-9</option>
                    <option value="gcse">GCSE</option>
                    <option value="alevel">A Level</option>
                </select>
            </div>
            <div class="filter-sort-input">
                <label for="filter-subject">Sort by:  </label>
                <select name="sort" id="sort" class="filter-select sort">
                    <option value="title_a_z" selected>Title - A-Z</option>
                    <option value="title_z_a">Title - Z-A</option>
                    <option value="price">Price - Low-High</option>
                    <option value="subject_a_z">Subject - A-Z</option>
                    <option value="year_group">Year Group</option>
                </select>
            </div>
        </div>
        <div class="gallery">
            {% for book in books %}
                <article class="bookFrame">
                    <a href="{{ book.get_slug_url}}" class="book-image-box">
                        {% if book.image %}
                            <img class="book-image" src="/media/{{ book.image }}">
                        {% else %}
                            <img class="book-image" src="/media/noimage.png">
                        {% endif %}
                    </a>
                    <div class="book-details-box">
                        <h2 class="book-title">{{ book.title }}</h2>
                        {% if True %}
                        <p class="out-of-stock">Out of stock X</p>
                        {% else %}
                            <p>from <span class="book-price">£15.00</span> (fair)</p>
                        {% endif %}
                        <!-- <p class="cheaper">Buy used book for less! See below:</p> -->
                        <select name="book-condition" id="book-condition" class="book-condition">
                            <option value="new">New £26 - in stock</option>
                            <option value="good" disabled >Good £20 - out of stock</option>
                            <option value="fair" selected>Fair £15 - in stock</option>
                        </select>
                        <p class="book-year-group">Year Group: <strong>{{ book.year_group }}</strong></p>
                        <p class="book-subject">Subject: <strong>{{ book.subject }}</strong></p>
                        <a class="more-details" href="{{ book.get_slug_url }}">More details and options</a>
                        <button class="add-button">Add</button>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}