{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}

<main >
    <section class="books-background detail-page">
        <div class="detail-page-frame">

            <div class="book-image-box">
                {% if book.image %}
                <img class="book-image" src="/media/{{ book.image }}">
                {% else %}
                <img class="book-image" src="/media/noimage.png">
                {% endif %}
            </div>
            
            <div class="book-details-box">
                <h2 class="book-title">{{ book.title }}</h2>
                
                <div>
                {% if book.year_group %}
                <p class="book-year-group">Year Group: <strong>{{ book.year_group.friendly_name }}</strong></p>
                {% endif %}
                {% if book.subject %}
                <p class="book-subject">Subject: <strong>{{ book.subject.friendly_name }}</strong></p>
                {% endif %}
                {% if book.publisher %}
                <p class="book-publisher">Publisher: <strong>{{ book.publisher }}</strong></p>
                {% endif %}
                {% if book.exam_board %}
                <p class="book-exam-board">Exam Board: <strong>{{ book.exam_board }}</strong></p>
                {% endif %}
                </div>
                {% if book.product_url %}
                <a class="real-product-link" href="{{ book.product_url }}" target="_blank"> Link to original product</a>
                {% endif %}
                {% if book.id in book_list_in_bag or book.in_stock%}
                    {% for stock_item in book_listing %}
                    <div class="stockline">
                        <div class="stockline-condition">{{ stock_item.condition }}</div>
                        <div class="stockline-price">£{{ stock_item.price }}</div>
                        {% if stock_item.stock_available_quantity > 0 or stock_item.in_bag %}
                            {% if stock_item.stock_available_quantity < 1 %} 
                            <div class="stockline-no-more-stock">&cross; no more left in stock</div>
                            {% else %}
                            <div class="stockline-in-stock">
                                {% if stock_item.stock_available_quantity > 5 %}
                                &check; 5+ in stock
                                {% else %}
                                &check; {{ stock_item.stock_available_quantity }} left in stock
                                {% endif %}
                            </div>
                            {% endif %}
                            <!-- If item already in bag, display the + and - icons  -->
                            {% if stock_item.in_bag %}
                            <div class="stockline-replace-element">
                                <form class="" action="{% url 'remove_from_bag' stock_item.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button type="submit" class="stockline-button">
                                        &minus;
                                    </button>
                                </form>
                                {{ stock_item.bag_quantity }}
                                <form class="" action="{% url 'add_to_bag' stock_item.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button type="submit" class="stockline-button"
                                    {% if stock_item.stock_available_quantity < 1 %} 
                                        disabled
                                    {% endif %}
                                    >
                                        &plus;
                                    </button>
                                </form>
                            </div>
                            <!-- If this item is not in the bag yet, display an 'Add' button  -->
                            {% else %}
                                <form class="stockline-button-container" action="{% url 'add_to_bag' stock_item.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button type="submit" class="stockline-add-button">
                                        Add
                                    </button>
                                </form>
                                
                            {% endif %}
                        {% else %}
                            <div class="stockline-out-of-stock">&cross; out of stock</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="out-of-stock">&cross; Out of stock</p>
                {% endif %}
                <div class="book-detail-buttons">
                    <div><a href="{% url 'books' %}?{{redirect_query_string}}" class="back-to-books-button">Back to Books</a></div>
                    <div><a href="{% url 'view_bag' %}" class="shopping-bag-button">Shopping Bag</a></div>
                </div>
                
            </div>
            
        </div>
    </section>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postload %}
{{ block.super }}
    <script src="{% static 'js/book_details.js' %}" type="module"></script>
{% endblock %}