{% extends "base.html" %}
{% load static %}
{% load inventory_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}

{% block content %}
<div class="small-logo">
    <img class="logo" src={% static 'svg/book-cycle-logo.svg' %} alt="book cycle logo" width="10" height="6">
</div>
<main >
    <section class="books-background detail-page">
        <div class="detail-page-frame">

            <a href="{{ book.get_absolute_url}}" class="book-image-box">
                {% if book.image %}
                <img class="book-image" src="/media/{{ book.image }}">
                {% else %}
                <img class="book-image" src="/media/noimage.png">
                {% endif %}
            </a>
            
            <div class="book-details-box">
                <h2 class="book-title">{{ book.title }}</h2>
                
                <div>
                <p class="book-year-group">Year Group: <strong>{{ book.year_group.friendly_name }}</strong></p>
                <p class="book-subject">Subject: <strong>{{ book.subject.friendly_name }}</strong></p>
                {% if book.publisher %}
                <p class="book-publisher">Publisher: <strong>{{ book.publisher }}</strong></p>
                {% endif %}
                {% if book.exam_board %}
                <p class="book-exam-board">Exam Board: <strong>{{ book.exam_board }}</strong></p>
                {% endif %}
                </div>
                <a class="real-product-link" href="{{ book.product_url }}" target="_blank">{{ book.pk }} Link to real product</a>

                {% if book.in_stock %}
                    {% for condition in book_listing %}
                    <div class="stockline">
                        <div class="stockline-condition">{{ condition }}</div>
                        <div class="stockline-price">£{{ book_listing|get_item:condition|get_item:"price" }}</div>
                        {% if book_listing|get_item:condition|get_item:"stock_available_quantity" > 0 %}
                            <div class="stockline-in-stock">
                                {% if book_listing|get_item:condition|get_item:"stock_available_quantity" > 10 %}
                                &check; 10+ in stock
                                {% else %}
                                &check; {{ book_listing|get_item:condition|get_item:"stock_available_quantity" }} left in stock
                                {% endif %}
                            </div>
                            <!-- If this item is not in the bag yet, display an 'Add' button  -->
                            {% if book_listing|get_item:condition|get_item:"in_bag" is False %}
                                <form class="stockline-button-container" 
                                    action="{% url 'add_to_bag' book_listing|get_item:condition|get_item:"id" %}" 
                                    method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="amount" value="1"
                                        data-stock-id="{{ book_listing|get_item:condition|get_item:"id"}}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button 
                                        type="submit" 
                                        class="add-button">
                                        Add
                                    </button>
                                </form>
                            <!-- If item already in bag, display the + and - icons  -->
                            {% else %}
                                <div class="stockline-replace-element">
                                    <form class="" action="{% url 'remove_from_bag' book_listing|get_item:condition|get_item:"id" %}" method="POST">
                                        {% csrf_token %}
                                        <!-- <input type="hidden" name="amount" value="1" data-stock-id="{{ book_listing|get_item:condition|get_item:"id"}}"> -->
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <button type="submit" class="stockline-button">
                                            -
                                        </button>
                                    </form>
                                    {{ book_listing|get_item:condition|get_item:"bag_quantity"}}
                                    <form class="" action="{% url 'add_to_bag' book_listing|get_item:condition|get_item:"id" %}" method="POST">
                                        {% csrf_token %}
                                        <!-- <input type="hidden" name="amount" value="1" data-stock-id="{{ book_listing|get_item:condition|get_item:"id"}}"> -->
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <button type="submit" class="stockline-button">
                                            +
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="stockline-out-of-stock">&cross; out of stock</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="out-of-stock">X Out of stock</p>
                {% endif %}
                
            </div>
            
        </div>
    </section>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/book_details.js' %}" type="module"></script>
{% endblock %}