{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}

{% block content %}
<div class="small-logo">
    <img class="logo" src={% static 'svg/book-cycle-logo.svg' %} alt="book cycle logo" width="10" height="6">
</div>
<main >
    <section class="books-background detail-page">
        <div class="detail-page-frame">

            <a href="{{ book.get_absolute_url}}" class="book-image-box">
                {% if book.image %}
                <img class="book-image" src="/media/{{ book.image }}">
                {% else %}
                <img class="book-image" src="/media/noimage.png">
                {% endif %}
            </a>
            
            <div class="book-details-box">
                <h2 class="book-title">{{ book.title }}</h2>
                {% if False %}
                <p class="out-of-stock">Out of stock X</p>
                {% else %}
                <p>from <span class="book-price">£15.00</span> (fair)</p>
                {% endif %}
                <!-- <p class="cheaper">Buy used book for less! See below:</p> -->
                <p class="new-book">
                    <span class="new-price">£28</span><span class="new-stock">&check; in stock</span><span class="new-add">Add</span>
                </p>
                <p class="good-book">
                    <span class="good-price">£20</span><span class="good-stock">&check; in stock</span><span class="good-add">Add</span>
                </p>
                <p class="fair-book">
                    <span class="fair-price">£15</span><span class="fair-stock">&check; in stock</span><span class="fair-add">Add</span>
                </p>
                
                <p class="book-year-group">Year Group: <strong>{{ book.year_group }}</strong></p>
                <p class="book-subject">Subject: <strong>{{ book.subject }}</strong></p>
                {% if book.publisher %}
                <p class="book-publisher">Publisher: <strong>{{ book.publisher }}</strong></p>
                {% endif %}
                {% if book.exam_board %}
                <p class="book-exam-board">Exam Board: <strong>{{ book.exam_board }}</strong></p>
                {% endif %}
                <a class="real-product-link" href="{{ book.product_url }}">{{ book.pk }} Link to real product</a>
                <button class="add-button">Add</button>
            </div>
            
        </div>
    </section>
</main>
{% endblock %}