{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">

{% endblock %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="checkout-background">
        <h1 class="title">Inventory Management</h1>
        <div class="checkout-page-frame">

            <div class="checkout-form-frame">
                <form action="{% url 'edit_book' slug=book.slug %}" method="POST" id="edit-book-form" class="add-book-form"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="checkout-fieldset">
                        <legend class="checkout-fieldset-label">Edit Book</legend>
                        {% for field in bookform %}
                            {% if field.name != 'image' %}
                                {{ field|as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    <div class="bag-buttons">
                        <div><a href="{% url 'books' %}?{{redirect_query_string}}" class="secondary-btn edit-back-to-books-btn">Back to
                                Books</a></div>
                        <button id="submit-button" type="submit" class="primary-btn checkout-btn">
                            Save Changes
                        </button>
                        
                    </div>
                    <p class="checkout-fieldset-label">Delete Book</p>
                    <p>Deleting the book from the database is a destructive action hence 
                        restricted. In order to keep the orders history intact, a book can 
                        not be deleted from the database unless it has not been purchased 
                        in the last year. Please note that during this period the stock's 
                        quantity can still be set to zero to prevent future sale of book.
                        <a href="{% url 'manage_stock' slug=book.slug %}">Click here</a>
                        to manage stock data.
                    </p>
                    <div class="bag-buttons">
                        <button id="delete-book" type="button" class="secondary-btn">
                        Delete Book
                        </button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block modals %}
    {% if user.is_authenticated and user.is_staff %}
    {% include 'includes/delete-book-modal.html' %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postload %}
    {{ block.super }}
    <script src="{% static 'js/book_management.js' %}"  type="module"></script>
{% endblock %}