{% extends "base.html" %}
{% load static %}

{% block logo %}
{% include 'includes/logo.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="shopping-bag-frame">
        <h1 class="title">Server Error (500)</h1>
        <div class="bag-page-frame">
            <br>
            <p>There seems to be a problem on our end, sorry for the inconvenience!
            </p>
            <br>
            <p>Please try again later.
            </p>
            <br>
            <br>
            <br>
            <div class="empty-bag">
                <a href="{% url 'home' %}" class="secondary-btn">Home</a>
            </div>

        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postload %}
{{ block.super }}
<script src="{% static 'js/bag.js' %}" type="module"></script>
{% endblock %}