{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="All-condition book shop for schools">
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,500;1,200;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;500&family=Koulen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>bookCycle</title>
</head>

<body>
    <header>
        <div class="header-left">
            <div class="mobile browse-link">
                <img class="burger-icon" src="{% static 'svg/burger-icon.svg' %}" alt="burger icon" width="30" height="24">
            </div>
            <div class="desktop browse-link">
                BROWSE TEXTBOOKS
            </div>
        </div>
        <div class="header-right">
            {% if request.user.is_authenticated %}
                
                <a href="{% url 'account_login' %}" class="mobile">
                    <img class="user" src="{% static 'svg/user-icon.svg' %}" alt="user icon" width="22" height="26">
                </a>
                <a href="{% url 'account_logout' %}" class="desktop">
                    Account
                </a>
                <a href="{% url 'account_logout' %}" class="desktop">
                    Sign Out
                </a>
                <a href="{% url 'account_logout' %}" class="email">
                    {{ request.user.email }}
                </a>
                
            {% else %}
            <a href="{% url 'account_login' %}" class="mobile">
                <img class="user" src="{% static 'svg/user-icon.svg' %}" alt="user icon" width="22" height="26">
            </a>
            <a href="{% url 'account_login' %}" class="desktop">
                Sign In
            </a>
            <a href="{% url 'account_signup' %}" class="desktop">
                Register
            </a>
            {% endif %}
            <div>
                <img class="basket" src="{% static 'svg/shopping-bag-icon.svg' %}" alt="shopping bag icon" width="30" height="30">
                <div class="book-nr">2</div>
            </div>
        </div>
    </header>
    <div id="browse">
        <ul>
            <li class="browse-category">
                All Textbooks
            </li>
            <li class="browse-category">
                Search by Subject
            </li>
            <li class="browse-category">
                Search by Yeargroup
            </li>
            <li >
                <form id="search-form" method="GET" action="">
                    <div >
                        <input id="search-input" type="text" name="q" placeholder="Search">
                        <button id="search-button" type="submit" disabled>
                            <img class="search" src="{% static 'svg/search-icon.svg' %}" alt="search icon" width="30" height="20">
                        </button>
                    </div>
                </form>
            </li>
        </ul>
        <div>
            <img class="open-book" src="{% static 'svg/open-book-icon.svg' %}" alt="open book icon" width="159" height="98">
        </div>
    </div>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script src="{% static 'js/menu.js' %}" type="module"></script>
    {% endblock %}


</body>

</html>