{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="All-condition book shop for schools">
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,200;0,500;1,200;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;500&family=Koulen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>bookCycle</title>
</head>

<body>
    <header>
        <div class="header-left">
            <div class="mobile">
                <img src="{% static 'svg/hamburger-icon.svg' %}" alt="hamburger icon">
            </div>
            <div class="desktop">
                Browse Textbooks
            </div>
        </div>
        <div class="header-right">
            <div class="mobile">
                <img class="user" src="{% static 'svg/user-icon.svg' %}" alt="user icon">
            </div>
            <div class="desktop">
                Sign In
            </div>
            <div class="desktop">
                Register
            </div>
            <div>
                <img class="basket" src="{% static 'svg/shopping-bag-icon.svg' %}" alt="shopping bag icon">
            </div>
        </div>
    </header>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


</body>

</html>